.header {
  h2 {
    font-weight: normal;
    margin-bottom: .8rem;
  }
}

.form {
  margin-top: 2.5rem;
}

.formGroup {
  margin-bottom: .8rem;
}

.input, .textarea {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: .7rem .5rem;
}

.checkbox {
  background-color: #fff;
}

.textarea {
  height: 8rem;
}

.select {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: .7rem .5rem;
}

.inputError {
  display: block;
  border-color: $red;
}

.label {
  display: block;
  margin-bottom: .4rem;
}

.button {
  display: block;
  width: 100%;
  margin-top: 1.2rem;
  padding: .7rem .5rem;
  border: none;
  border-radius: 5px;
  background-color: $gray;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

.errorMessage {
  color: $red;
}

.serverAuthError {
  margin: 1rem 0;
  padding: .7rem .5rem;
  background-color: $gray;
  border-radius: 5px;
  text-align: center;
}

.fetchErrorDisplay {
  color: $pink;
}
