@import 'common_vars';

$lightColor: #f1efef;
$darkColor: #555555;

.container {
  --unl-text-light: #{$white};
  --unl-text-dark: #{$black};
  --unl-light: #{$lightColor};
  --unl-light-darker-5: #{darken($lightColor, 5%)};
  --unl-light-darker-10: #{darken($lightColor, 10%)};
  --unl-light-darker-15: #{darken($lightColor, 15%)};
  --unl-dark: #{$darkColor};
  --unl-dark-lighter-5: #{lighten($darkColor, 5%)};
  --unl-dark-lighter-10: #{lighten($darkColor, 10%)};
  --unl-dark-lighter-15: #{lighten($darkColor, 15%)};
}

.container:not(.none) {
  width: 100%;
  display: flex;
  font-size: 1.1rem;
  text-transform: uppercase;
}

/*
  Common classes are wrapped in .container:not(.none)
  This allows adding classes to the "none" template without styling them
*/
.container:not(.none) {
  .navList {
    display: flex;
    align-items: center;
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .linkItem {
    display: flex;
    flex: 1;
    align-items: center;
    text-align: center;
  }

  .link {
    display: flex;
    flex: 1;
    padding: 8px 20px;
    align-items: center;
    justify-content: center;
    color: var(--unl-text-dark);
    text-decoration: none;
    cursor: pointer;
  }

  .linkItem:last-child .link {
    border: none;
  }

  &.vertical {
    flex-direction: column;
    .navList {
      flex-direction: column;
      align-items: normal;
    }
  }
}

/*
  Clean template
  Wrapped in .container to match specificity of common classes
*/
.container.clean {
  .navList {
    justify-content: space-between;
  }
  .linkItem {
    flex: auto;
    text-align: left;
  }
  &.vertical {
    .linkItem {
      text-align: left;
    }
  }
  &[data-theme='dark'] {
    .link {
      color: var(--unl-text-light);
    }
  }
}

/*
  Light and dark-buttons template
  Wrapped in .container to match specificity of common classes
*/
.container.darkButtons {
  .linkItem {
    text-align: center;
    &:last-child .link {
      border: none;
    }
  }
  .link {
    background-color: var(--unl-dark);
    color: var(--unl-text-light);
    border-right: 1px solid var(--unl-dark-lighter-15);
    &:hover {
      background-color: var(--unl-dark-lighter-10);
    }
  }
  .active .link {
    background-color: var(--unl-light);
    color: var(--unl-text-dark);
  }
  &.vertical {
    .link {
      border-right: none;
      border-bottom: 1px solid var(--unl-dark-lighter-15);
    }
  }
  .authLinks {
    .link {
      background-color: transparent;
      border: none;
      color: var(--unl-text-dark);
    }
    .signupLink,
    .logoutLink {
      background-color: var(--unl-light);
      border-radius: 0;
      &:hover {
        background-color: var(--unl-light-darker-5);
      }
    }
  }
  &[data-theme='dark'] {
    .link {
    }
    .authLinks {
      .signupLink,
      .logoutLink {
      }
    }
  }
}

/*
  light-buttons template
  Wrapped in .container to match specificity of common classes
*/
.container.lightButtons {
  .linkItem {
    text-align: center;
    &:last-child .link {
      border: none;
    }
  }
  .link {
    background-color: var(--unl-light);
    color: var(--unl-text-dark);
    border-right: 1px solid var(--unl-light-darker-15);
    &:hover {
      background-color: var(--unl-light-darker-5);
    }
  }
  .active .link {
    background-color: var(--unl-dark);
    color: var(--unl-text-light);
  }
  &.vertical {
    .link {
      border-right: none;
      border-bottom: 1px solid var(--unl-light-darker-15);
    }
  }
  .authLinks {
    .link {
      border: none;
      background-color: transparent;
    }
    .signupLink,
    .logoutLink {
      background-color: var(--unl-dark);
      border-radius: 0;
      color: var(--unl-text-light);
      &:hover {
        background-color: var(--unl-dark-lighter-10);
      }
    }
  }
}

/* auth links */
.container:not(.none) {
  .authLinks {
    display: flex;
    align-items: center;
    margin: 0 0 0 60px;
    padding: 0;

    .link {
      background-color: transparent;
      color: inherit;
      border: none;
    }

    .loginLink {
      color: var(--unl-text-dark);
    }

    .signupLink,
    .logoutLink {
      background-color: var(--unl-light);
      border-radius: 5px;

      &:hover {
        background-color: var(--unl-light-darker-5);
      }
    }

    .iconSpanLeft + .loginLink {
      padding-left: 0;
    }
  }

  &.vertical {
    .authLinks {
      flex-direction: column;
      margin: 20px 0 0;
      align-items: normal;
    }

    .link {
      border: none;
    }
  }

  &[data-theme='dark'] {
    .loginLink {
      color: var(--unl-text-light);
    }
  }
}

/* icons */
.iconSpanLeft {
  padding-right: 7px;
}
.iconSpanRight {
  padding-left: 7px;
}

.icon {
  position: relative;
  top: -2px;
  max-width: 20px;
  max-height: 20px;
  vertical-align: bottom;
}

[data-theme='dark'].clean, .darkButtons {
  .icon {
    filter: invert(1);
  }
}

@media screen and (max-width: $break-sm) {
  .container:not(.none) {
    flex-direction: column;
    .navList {
      flex-direction: column;
      align-items: normal;
    }
    .authLinks {
      flex-direction: column;
      margin: 20px 0 0;
      align-items: normal;
    }
  }
}
