$gray: #e8e8e8;
$red: #e74444;

.unl-forgot-password__container {
  width: 100%;
}

.unl-forgot-password__header,
.unl-forgot-password__reset-header {
  h2 {
    font-weight: normal;
    margin-bottom: 0.8rem;
  }
}

.unl-forgot-password__form {
  margin-top: 2.5rem;
}

.unl-forgot-password__form-group {
  margin-bottom: 0.8rem;
}

.unl-forgot-password__input,
.unl-forgot-password__textarea {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.7rem 0.5rem;
}

.unl-forgot-password__textarea {
  height: 8rem;
}

.unl-forgot-password__select {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.7rem 0.5rem;
}

.unl-forgot-password__input-error {
  border-color: $red;
}

.unl-forgot-password__label {
  display: block;
  margin-bottom: 0.4rem;
}

.unl-forgot-password__button {
  display: block;
  width: 100%;
  margin-top: 1.2rem;
  padding: 0.7rem 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: $gray;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

.unl-forgot-password__error-message {
  color: $red;
}

.unl-forgot-password__server-auth-error {
  margin: 1rem 0;
  padding: 0.7rem 0.5rem;
  background-color: $gray;
  border-radius: 5px;
  text-align: center;
}

// default components

.unl-forgot-password__loader {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.unl-forgot-password__confirmation,
.unl-forgot-password__reset-confirmation {
  h2 {
    font-weight: normal;
    margin-bottom: 0.8rem;
  }
}
