body {
  margin: 0;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol {
  margin-top: 0;
}

.app-container {
  display: flex;
  max-width: 1200px;
  // margin: 20px auto 0 auto;
  @media (max-width: 800px) {
    display: block;
  }
}

.component-container {
  width: 100%;
}

.main-navigation {
  min-width: 225px;
  @media (max-width: 800px) {
    display: block;
    margin-bottom: 30px;
  }
  &__ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__link {
    display: block;
    padding: 0.2rem;
  }
}
