@import 'common_vars';
@import 'common_form_base';
@import 'common_loaders';

.forgotPasswordLink {
  margin-top: 2rem;
}

.socialButtons {
  text-align: center;
}

.orLine {
  position: relative;
  margin: 2rem 0;
  font-size: .85rem;
  line-height: normal;
  text-transform: uppercase;
  color: #444;
  span::before,
  span::after {
    content: '';
    position: absolute;
    width: calc(50% - 32px);
    height: 1px;
    background-color: #ccc;
    top: 8px;
  }
  span::before {
    left: 0;
  }
  span::after {
    right: 0;
  }
}
