p,
pre,
h1,
h2,
h3,
h4,
h5,
ul,
ol {
  margin-top: 0;
}

.notes-panel {
  padding: 1.2rem;
  font-size: 0.9rem;
}

.featured-notes {
  margin: -1.2rem;
  margin-bottom: 0.8rem;
  padding: 0.8rem;
  background-color: #029cfd;
  color: #000;
}

.featured-notes p {
  margin-bottom: 0.6rem;
}

.featured-notes p:last-child {
  margin-bottom: 0;
}

.notes-panel > :not(.featured-notes) {
  max-width: 900px;
}

.notes-panel pre {
  padding-top: 0;
}

.notes-panel code {
  font-size: 0.8rem;
}

/*.notes-heading {*/
/*  font-weight: bold;*/
/*  margin-bottom: 0.8rem;*/
/*  border-bottom: 1px solid #aaa;*/
/*}*/
