.topLevelParent {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  &:last-child {
    border: none;
    margin-bottom: 0;
  }
}

ul.topLevelParent {
  padding-left: 30px;
  ul {
    padding-left: 30px;
  }
  li li li li {
    list-style: circle;
  }
  li li li li li {
    list-style: square;
  }
  li li li li li li {
    list-style: circle;
  }
  li li li li li li li {
    list-style: square;
  }
}

.label, .branchLabel {
  font-weight: bold;
}

.arrayBranchLabel {
  font-weight: normal;
}

/* divs don't have the same defaults as lists */

div.childItem:first-child {}

div.childItem:last-child {
  margin-bottom: 12px;
}

div.objectBranch .label {
  font-weight: normal;
}

div.objectBranch > .branchLabel {
  display: none;
}

