.unl-r-data-lister__top-level-parent {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  &:last-child {
    border: none;
    margin-bottom: 0;
  }
}

ul.unl-r-data-lister__top-level-parent {
  padding-left: 30px;
  ul {
    padding-left: 30px;
  }
  li li li li {
    list-style: circle;
  }
  li li li li li {
    list-style: square;
  }
  li li li li li li {
    list-style: circle;
  }
  li li li li li li li {
    list-style: sqaure;
  }
}

.unl-r-data-lister__label, .unl-r-data-lister__leaf-label {
  font-weight: bold;
}

.unl-r-data-lister__object-leaf > .unl-r-data-lister__leaf-label {
  font-weight: normal;
}

div.unl-r-data-lister__child-item:first-child {}

div.unl-r-data-lister__child-item:last-child {
  margin-bottom: 12px;
}

div.unl-r-data-lister__object-leaf .unl-r-data-lister__label {
  font-weight: normal;
}

div.unl-r-data-lister__object-leaf > .unl-r-data-lister__leaf-label {
  display: none;
}
