.pagination-demo {
  max-width: 1000px;
  align-self: flex-start;
}

.pagination-demo h3 {
  margin-bottom: 0;
}
.pagination-demo__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pagination-demo__row {
  margin-bottom: 20px;
}

[data-theme='storybook-dark'] .pagination-demo {
  color: #fff;
}
