@import 'common_vars';
@import 'common_form_base';
@import 'common_loaders';

.success {
  display: flex;
  min-height: 350px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
}
