@import 'common_vars';
@import 'common_form_base';
@import 'common_loaders';

.container {
  --unl-success-font-size: 2rem;
  &:has(.success) {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
