@import 'common_vars';

$lightmode-background: transparent;
$lightmode-page: $navy;
$lightmode-page-active: $maroon;
$darkmode-background: $navy;
$darkmode-page: $maroon;
$darkmode-page-active: $ltgray;

/*
  alt light mode colors
  $lightmode-page: #a06bad;
  $lightmode-page-active: #a06bad52;
*/

.container {
  --unl-light-mode-text: #{$black};
  --unl-light-mode-container-padding: 1.875rem 0;
  --unl-light-mode-background-color: #{$lightmode-background};
  --unl-light-mode-page-number-background: #{$lightmode-page};
  --unl-light-mode-page-number-background-active: #{$lightmode-page-active};
  --unl-light-mode-page-number-background-hover: #{$lightmode-page-active};
  --unl-dark-mode-text: #{$white};
  --unl-dark-mode-container-padding: 1.875rem;
  --unl-dark-mode-background-color: #{$darkmode-background};
  --unl-dark-mode-page-number-background: #{$darkmode-page};
  --unl-dark-mode-page-number-background-active: #{$darkmode-page-active};
  --unl-dark-mode-page-number-background-hover: #{$darkmode-page-active};
  background-color: var(--unl-light-mode-background-color);
  padding: var(--unl-light-mode-container-padding);
  box-sizing: border-box;
  user-select: none;
  &[data-theme='dark'] {
    padding: var(--unl-dark-mode-container-padding);
    background-color: var(--unl-dark-mode-background-color);
  }
}

.container:global(.hidden) {
  display: none;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.next,
.prev {
  display: flex;
  height: 2.6rem;
  align-items: center;
  background: none;
  border: none;
  color: var(--unl-light-mode-text);
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

[data-theme='dark'] {
  .next,
  .prev {
    color: var(--unl-dark-mode-text);
  }
}

.next {
  margin-left: auto;
}

.prev {
  margin-right: 1rem;
}

.number {
  background-color: var(--unl-light-mode-page-number-background);
  border: none;
  color: var(--unl-dark-mode-text);
  padding: 0;
  display: inline-block;
  width: 2.6rem;
  height: 2.6rem;
  margin-right: 0.5rem;
  text-align: center;
  border-radius: 50%;
  font-family: inherit;
  font-size: 1rem;
  line-height: 2.6rem;
  cursor: pointer;
  outline: none;
  &:last-child {
    margin-right: 0;
  }
  &--active,
  &:global(.active) {
    background-color: var(--unl-light-mode-page-number-background-active);
    color: var(--unl-dark-mode-text);
  }
  &:hover {
    background-color: var(--unl-light-mode-page-number-background-hover);
    color: var(--unl-dark-mode-text);
  }
}

[data-theme='dark'] .number {
  background-color: var(--unl-dark-mode-page-number-background);
  color: var(--unl-dark-mode-text);
  &--active,
  &:global(.active) {
    background-color: var(--unl-dark-mode-page-number-background-active);
    color: var(--unl-light-mode-text);
  }
  &:hover {
    background-color: var(--unl-dark-mode-page-number-background-hover);
    color: var(--unl-light-mode-text);
  }
}

.ellipsis {
  margin-right: 0.5rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  svg {
    fill: var(--unl-light-mode-text);
  }
}

[data-theme='dark'] .ellipsis svg {
  fill: var(--unl-dark-mode-text);
}

.chevronLeft,
.chevronRight {
  fill: var(--unl-light-mode-text);
  height: 1.1rem;
  margin-top: .1rem;
}

.chevronLeft {
  margin-right: 0.5rem;
}

.chevronRight {
  margin-left: 0.5rem;
}

[data-theme='dark'] {
  .chevronLeft, .chevronRight {
    fill: var(--unl-dark-mode-text);
  }
}


@media screen and (max-width: 1000px) {
  .number {
  }
}
