@import 'vars';

.unl-pagination__container {
  background-color: #314262;
  padding: 30px;
  color: $white;
  box-sizing: border-box;
  user-select: none;
}

.unl-pagination__container .unl-pagination__hidden {
  display: none;
}

.unl-pagination__inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.unl-pagination__next,
.unl-pagination__prev {
  display: flex;
  height: 100%;
  align-items: center;
  background: none;
  border: none;
  color: $white;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

.unl-pagination__next {
  margin-left: auto;
}

.unl-pagination__prev {
  margin-right: 1rem;
}

.unl-pagination__number {
  background-color: $maroon;
  border: none;
  color: $white;
  padding: 0;
  display: inline-block;
  width: 2.6rem;
  height: 2.6rem;
  margin-right: 0.5rem;
  text-align: center;
  border-radius: 50%;
  font-family: inherit;
  font-size: 1rem;
  line-height: 2.6rem;
  cursor: pointer;
  outline: none;
  &:last-child {
    margin-right: 0;
  }
  &:active,
  &--active {
    background-color: $ltgray;
    color: $black;
  }
}

.unl-pagination__ellipsis {
  background-color: inherit;
  display: inline-block;
  margin-right: 0.5rem;
  text-align: center;
  font-size: 1rem;
  line-height: 2.6rem;
}

.unl-pagination__chevron-left,
.unl-pagination__chevron-right {
  fill: $white;
  height: 1.1rem;
}

.unl-pagination__chevron-left {
  margin-right: 0.5rem;
}

.unl-pagination__chevron-right {
  margin-left: 0.5rem;
}

@media screen and (max-width: 1000px) {
  .unl-pagination__number {
  }
}
