@import 'vars';

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.child {
  width: 100%;
  transform: translateY(-100%);
  border: 1px solid #d0d0d0;
  background-color: #fff;
  transition: all 0.25s ease-in-out;
  &--in {
    transform: translateY(15vh);
    transition: all 0.25s ease-in-out;
  }
  &--small {
    max-width: 400px;
  }
  &--medium {
    max-width: 600px;
  }
  &--large {
    max-width: 75%;
    @media screen and (max-width: $break-sm) {
      max-width: 100%;
      width: 100%;
    }
  }
  &--full {
    width: 100%;
  }
}
.close {
  float: right;
  margin-top: 16px;
  margin-right: 16px;
}
.closeBtn {
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
}
.header {
  background-color: $ltgray;
  padding: $modal-padding;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
  h3 {
    margin-bottom: 0;
    font-weight: normal;
  }
}
.footer {
  margin-top: $modal-padding;
  padding: 8px $modal-padding;
  border-top: 1px solid #d8d8d8;
}
.body {
  padding: $modal-padding;
}
