@import 'common_vars';

.overlay {
  --unl-modal-padding: 16px;
  --unl-light-mode-overlay-color: rgba(0, 0, 0, .8);
  --unl-dark-mode-overlay-color: rgba(255, 255, 255, .8);
  --unl-light-mode-text-color: #{$black};
  --unl-dark-mode-text-color: #{$white};
  --unl-light-mode-background-color: #{$white};
  --unl-dark-mode-background-color: #{$black};
  --unl-light-mode-header-color: #{$ltgray};
  --unl-dark-mode-header-color: #{$dkgray};
  --unl-light-mode-header-shadow: 0 2px 5px rgba(0,0,0, 0.16);
  --unl-dark-mode-header-shadow: none;
  --unl-light-mode-border-color: #{#d0d0d0};
  --unl-dark-mode-border-color: var(--unl-dark-mode-header-color);
  --unl-small-width: 400px;
  --unl-medium-width: 600px;
  --unl-large-width: 75%;
  --unl-full-width: 100%;
  --unl-modal-y-position: calc(50vh - 50%);
  --unl-break-xs: #{$break-xs};
  --unl-break-sm: #{$break-sm};
  --unl-break-md: #{$break-md};
  --unl-break-lg: #{$break-lg};
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--unl-light-mode-overlay-color);
  &[data-theme='dark'] {
    background-color: var(--unl-dark-mode-overlay-color);
  }
}



.child {
  width: 100%;
  transform: translateY(-100%);
  border: 1px solid var(--unl-light-mode-border-color);
  background-color: var(--unl-light-mode-background-color);
  transition: all 0.25s ease-in-out;
  &--in {
    transform: translateY(var(--unl-modal-y-position));
    transition: all 0.25s ease-in-out;
  }
  &--small {
    max-width: var(--unl-small-width);
  }
  &--medium {
    max-width: var(--unl-medium-width);
  }
  &--large {
    max-width: var(--unl-large-width);
    @media screen and (max-width: var(--unl-break-sm)) {
      max-width: 100%;
      width: 100%;
    }
  }
  &--full {
    width: var(--unl-full-width);
  }
}

[data-theme='dark']  {
  .child {
    background-color: var(--unl-dark-mode-background-color);
    border: 1px solid var(--unl-dark-mode-border-color);
    color: var(--unl-dark-mode-text-color);
  }
}

.close {
  float: right;
  margin-top: 16px;
  margin-right: 16px;
}
.closeBtn {
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
}
[data-theme='dark']  {
  .closeBtn {
    filter: invert(1);
  }
}

.header {
  background-color: var(--unl-light-mode-header-color);
  color: var(--unl-light-mode-text-color);
  padding: var(--unl-modal-padding);
  box-shadow: var(--unl-light-mode-header-shadow);
  h3 {
    margin-bottom: 0;
    font-weight: normal;
  }
}

[data-theme='dark']  {
  .header {
    box-shadow: var(--unl-dark-mode-header-shadow);
    background-color: var(--unl-dark-mode-header-color);
    color: var(--unl-dark-mode-text-color);
  }
}

.footer {
  padding: var(--unl-modal-padding);
  border-top: 1px solid var(--unl-light-mode-border-color);
  color: var(--unl-light-mode-text-color);
}

[data-theme='dark']  {
  .footer {
    border-top: 1px solid var(--unl-dark-mode-border-color);
    color: var(--unl-dark-mode-text-color);
  }
}

.body {
  padding: var(--unl-modal-padding);
}
